.main {
  text-align: center;

  .header {
    height: 30px;
    margin: 120px 0 80px;
    text-align: center;

    &-title {
      color: white;
      font-family: 'Dancing Script', sans-serif;
    }
  }
  &-content {
    .spike-viewer-wraper {
      background-color: white;
      width: 600px;
      height: auto;

      .spike-viewer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-content: flex-start;

        .spike-block {
          width: 20px;
          height: 20px;
          border: 1px solid #ddd;
          border-radius: 10px;

          &.is-spiked {
            border: 1px solid #555;
            background-color: #D61E0D;
          }
          &.is-engram {
            border: 3px solid #ffd803;
          }
        }
      }
    }

    .spike-viewer-slider {
      // width: 600px;
    }
  }
}
